<?xml version="1.0"?>

<model>
  <name>Alpha Pilot Gate</name>
  <version>1.0</version>
  <sdf version="1.0">model.sdf</sdf>

  <author>
    <name>Sean Gilfether</name>
    <email>sgilfether3@gatech.edu</email>
  </author>
  
  <description>
    Gate for DRL Alpha Pilot Challenge.
  </description>

</model>
